<nav class="top-bar foundation-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
     <span data-tooltip class="has-tip" title="Add you code snippets here"><h1 class="show-for-small-only"><%= link_to "S", root_path %></h1></span>
     <span data-tooltip class="has-tip" title="Add you code snippets here"><h1 class="show-for-medium-only"><%= link_to "Snip", root_path %></h1></span>
     <span data-tooltip class="has-tip" title="Add you code snippets here"><h1 class="show-for-large-only"><%= link_to "Snippets", root_path %></h1></span>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "My Snippets", snippets_path %></li>
      <li><%= link_to "About Us", "" %></li>
    </ul>
  </section>
</nav>
